<div appHighlight color="lightgreen">
 <h2>{{appTitle}}</h2> 


 <a routerLink="/" class="button"  
                    routerLinkActive="success"
                    
                    [routerLinkActiveOptions]="{exact: true}"
                    
                    >
    Home
</a>

<a routerLink="/products"  class="button"  routerLinkActive="success"  >
    Products
</a>

<a routerLink="/about"  class="button"  routerLinkActive="success"  >
    About
</a>

<a routerLink="/contact"  class="button"  routerLinkActive="success" >
    Contact
</a>

<app-auth-menu> </app-auth-menu>

<!-- 
<a  routerLink="/auth/login"  
    class="button"  routerLinkActive="success" 
    *ngIf="!(authStatus$ | async) else logoutPart"
    >
    Login
</a>

<ng-template #logoutPart>

    <button (click)="logout()" >
        Logout
    </button>
</ng-template> -->


<span>Counter {{counter}}</span>

 <hr />
</div>