<h2>Product List</h2>

<button (click)="fetchProducts()">
  Refresh
</button>

<select name="field"
        [(ngModel)]="selectedField">

    <option value="price">Price </option>
    <option value="year">Year </option>

</select>

<select name="predicate"
        [(ngModel)]="predicate">
      <option value=">"> &gt; </option>
      <option value="<"> &lt; </option>
      <option value="="> == </option>
</select>

<p>Expected Value</p>
<input name="expected"
       type="number"
       [(ngModel)]="expectedValue" />

<p> Filter by {{selectedField}} {{predicate}} {{expectedValue}}</p>

<p> Sort Field </p>
<select name="sortField"
        [(ngModel)]="sortField">

    <option value="price">Price </option>
    <option value="year">Year </option>

</select>

<p> Sort by {{sortField}}</p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Year</th>
      <th>Weight</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of ( (products$ | async) | filter:selectedField:predicate:expectedValue | sort:sortField:'asc');trackBy:trackByProductId">
      <td>
        <a [routerLink]="['/products', 'edit', product.id]">
          {{product.name}}
        </a>

      </td>
      <td> {{product.price}} </td>
      <td> {{product.year}} </td>
      <td> {{product.weight}} </td>
      <td>
          <button (click)="deleteProduct(product.id)">
            Delete
          </button>
      </td>
    </tr>
  </tbody>
</table>